In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("locations.csv")

In [3]:
df

     job_id   job_locations
0    270735  Work From Home
1    270736  Work From Home
2    272101       Bangalore
3    270555       Bangalore
4    270071          Mumbai
..      ...             ...
780  271414           Noida
781  271419         Chennai
782  271416       Hyderabad
783  271415          Jaipur
784  271406         Gurgaon

[785 rows x 2 columns]

In [8]:
pip install geopy

Requirement already satisfied: geopy in c:\python\python app\lib\site-packages (2.4.0)
Requirement already satisfied: geographiclib<3,>=1.52 in c:\python\python app\lib\site-packages (from geopy) (2.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
from geopy.geocoders import Nominatim

In [5]:
geolocator = Nominatim(user_agent="geoapiExercises")

In [7]:
def get_lat_long(location):
    try:
        location = geolocator.geocode(location)
        if location:
            return location.latitude, location.longitude
        else:
            return None, None
    except:
        return None, None

In [20]:
df['job_locations'] = df['job_locations'].apply(lambda x:x.strip())

In [21]:
df['job_locations'] = df['job_locations'].replace("Work From Home","Agra")

In [22]:
df

     job_id job_locations
0    270735          Agra
1    270736          Agra
2    272101     Bangalore
3    270555     Bangalore
4    270071        Mumbai
..      ...           ...
780  271414         Noida
781  271419       Chennai
782  271416     Hyderabad
783  271415        Jaipur
784  271406       Gurgaon

[785 rows x 2 columns]

In [8]:
get_lat_long("Agra")

(None, None)

In [ ]:
df['Latitude'], df['Longitude'] = zip(*df['job_locations'].apply(get_lat_long))

In [ ]:
df

In [14]:
df.to_csv("lat_long.csv")